In [12]:
#importing necessary libararies.
import pandas as pd
import zipfile
import sqlalchemy as sal
from sqlalchemy import create_engine
import pyodbc
#import libraries

#checking the version of libarires for comaptabilites
print("Pandas version:", pd.__version__)
print("SQLAlchemy version:", sal.__version__)

Pandas version: 2.2.3
SQLAlchemy version: 2.0.36

In [13]:
#Downloading dataset using kaggle api.

!kaggle datasets download -d ankitbansal06/retail-orders

'kaggle' is not recognized as an internal or external command,
operable program or batch file.

In [14]:
#Extracting the downloaded file using Zipfile Libarary.


zip_ref = zipfile.ZipFile("retail-orders.zip")
zip_ref.extractall()
zip_ref.close()

In [15]:
#Reading the csv file and handling the null values.

df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [26]:
#Renaming the columns with unviversal naming format.

df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns
#df.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1

In [17]:
# Calculating the Discount given and sale after discount adn profit

#Calculating Discounted amout

df['discount']=df['list_price']*df['discount_percent']*.01

#Calculating Sale price

df['sale_price']=df['list_price']-df['discount']

#Calculating Profit

df['profit']=df['sale_price']-df['cost_price']

In [18]:
# Correcting datatypes 
df.dtypes
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [19]:
# Dropping Unncessary Colums
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True,errors='ignore')
#df.head(2)

In [25]:
#connecting SQL with SQLalchemy

engine = sal.create_engine(r'mssql://Milind\MILINDSQLSERVER/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [21]:
# Loading data int the sql server with replace function

#df.to_sql('df_orders', con=conn, index=False, if_exists='replace')

In [22]:
# loading data int the sql server with Append function

df.to_sql('df_orders', con=conn, index=False, if_exists='append')

38